
@import url('https://fonts.cdnfonts.com/css/space-mono');


form {
    max-width: 300px;
    margin: 20px auto;
}
label {
    display: block;
    margin: 10px 0;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}
.error {
    color: red;
    text-align: center;
}

